<button class="button button-primary btn-theme" (click)="logOut()">
    Log Out
</button>
<div class="container">
    <div class="row mb-2 mt-2 text-center">
        <div class="col-md-4">
            <h5> User Management Dashboard</h5>
        </div>
    </div>
</div>
<!-- nav bar -->
 <nav class="navbaar navbar-expand-md breadcrumb">
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="nav nav-pills">
            <a href="#users" class="nav-item nav-link active ml-1" data-toggle ="tab"><i class="fa fa-users"></i> Users</a>
            <a href="#reset-password" class="nav-item nav-link active ml-3" data-toggle ="tab"><i class="fa fa-cogs"></i> Settings</a>
            <a href="#profil" class="nav-item nav-link active mr-3" data-toggle ="tab"><i class="fa fa-user"></i> Welcome,</a>
        </div>
    </div>
 </nav>